{
  "openapi": "3.1.0",
  "info": {
    "title": "Quave Pager API",
    "version": "1.0.0",
    "description": "Create, list, update, and manage alarms for the authenticated user's registered devices. Alarm payloads may include link for the result/action URL and aiConversationResume for returning to the AI conversation."
  },
  "servers": [
    {
      "url": "https://pager.quave.ai"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use QUAVE_PAGER_API_KEY as the bearer token."
      }
    }
  },
  "security": [
    {
      "bearerApiKey": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "security": [],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/install-macos.sh": {
      "get": {
        "security": [],
        "summary": "Download the macOS terminal installer script",
        "responses": {
          "200": {
            "description": "Shell installer script"
          }
        }
      }
    },
    "/api/signup/start": {
      "post": {
        "security": [],
        "summary": "Start email-code signup",
        "responses": {
          "200": {
            "description": "Signup code created"
          }
        }
      }
    },
    "/api/signup/verify": {
      "post": {
        "security": [],
        "summary": "Verify signup and receive first API key once",
        "responses": {
          "201": {
            "description": "User, device, and API key created"
          }
        }
      }
    },
    "/api/alarms": {
      "get": {
        "summary": "List alarms",
        "responses": {
          "200": {
            "description": "Alarm list"
          }
        }
      },
      "post": {
        "summary": "Create alarm, optionally with link and aiConversationResume metadata",
        "responses": {
          "201": {
            "description": "Alarm created"
          }
        }
      }
    },
    "/api/alarms/{id}": {
      "patch": {
        "summary": "Edit an alarm, link, or aiConversationResume metadata",
        "responses": {
          "200": {
            "description": "Alarm updated"
          },
          "404": {
            "description": "Alarm not found"
          }
        }
      },
      "post": {
        "summary": "Edit an alarm for clients where PATCH is awkward",
        "responses": {
          "200": {
            "description": "Alarm updated"
          },
          "404": {
            "description": "Alarm not found"
          }
        }
      },
      "delete": {
        "summary": "Logically remove an alarm",
        "responses": {
          "200": {
            "description": "Alarm removed"
          },
          "404": {
            "description": "Alarm not found"
          }
        }
      }
    },
    "/api/alarms/{id}/remove": {
      "post": {
        "summary": "Logically remove an alarm for clients where DELETE is awkward",
        "responses": {
          "200": {
            "description": "Alarm removed"
          },
          "404": {
            "description": "Alarm not found"
          }
        }
      }
    },
    "/api/alarms/{id}/snooze": {
      "post": {
        "summary": "Snooze an alarm",
        "responses": {
          "200": {
            "description": "Alarm snoozed"
          },
          "404": {
            "description": "Alarm not found"
          }
        }
      }
    },
    "/api/alarms/{id}/dismiss": {
      "post": {
        "summary": "Dismiss an alarm",
        "responses": {
          "200": {
            "description": "Alarm dismissed"
          },
          "404": {
            "description": "Alarm not found"
          }
        }
      }
    },
    "/api/alarms/{id}/cancel": {
      "post": {
        "summary": "Cancel an alarm",
        "responses": {
          "200": {
            "description": "Alarm canceled"
          },
          "404": {
            "description": "Alarm not found"
          }
        }
      }
    },
    "/api/alarm-types": {
      "get": {
        "summary": "List user alarm types",
        "responses": {
          "200": {
            "description": "Alarm type list"
          }
        }
      },
      "post": {
        "summary": "Create an alarm type",
        "responses": {
          "201": {
            "description": "Alarm type created"
          },
          "400": {
            "description": "Invalid alarm type"
          }
        }
      }
    },
    "/api/alarm-types/{id}": {
      "patch": {
        "summary": "Edit an alarm type",
        "responses": {
          "200": {
            "description": "Alarm type updated"
          },
          "404": {
            "description": "Alarm type not found"
          }
        }
      },
      "post": {
        "summary": "Edit an alarm type for clients where PATCH is awkward",
        "responses": {
          "200": {
            "description": "Alarm type updated"
          },
          "404": {
            "description": "Alarm type not found"
          }
        }
      },
      "delete": {
        "summary": "Logically remove an alarm type",
        "responses": {
          "200": {
            "description": "Alarm type removed"
          },
          "404": {
            "description": "Alarm type not found"
          }
        }
      }
    },
    "/api/alarm-types/{id}/remove": {
      "post": {
        "summary": "Logically remove an alarm type for clients where DELETE is awkward",
        "responses": {
          "200": {
            "description": "Alarm type removed"
          },
          "404": {
            "description": "Alarm type not found"
          }
        }
      }
    },
    "/api/calendar": {
      "get": {
        "summary": "Read Google Calendar connection, source, and synced event state",
        "responses": {
          "200": {
            "description": "Calendar sync state"
          }
        }
      }
    },
    "/api/calendar/oauth/start": {
      "post": {
        "summary": "Create a Google Calendar OAuth authorization URL",
        "responses": {
          "200": {
            "description": "Authorization URL and temporary state"
          },
          "400": {
            "description": "Google OAuth is not configured"
          }
        }
      }
    },
    "/api/calendar/oauth/callback": {
      "get": {
        "security": [],
        "summary": "Complete Google Calendar OAuth and store the encrypted refresh grant",
        "responses": {
          "200": {
            "description": "Google Calendar connected"
          },
          "400": {
            "description": "OAuth callback rejected"
          }
        }
      }
    },
    "/api/calendar/sync": {
      "post": {
        "summary": "Sync selected Google calendars across all connected accounts or one connectionId from the request body, dedupe same-account connections, and materialize Pager alarms for non -n events",
        "responses": {
          "200": {
            "description": "Sync summary"
          },
          "400": {
            "description": "Calendar is not connected or sync failed"
          }
        }
      }
    },
    "/api/calendar/connections/{id}": {
      "delete": {
        "summary": "Disconnect a Google Calendar account, remove its synced calendars, and cancel pending alarms created from them",
        "responses": {
          "200": {
            "description": "Calendar connection disconnected"
          },
          "404": {
            "description": "Calendar connection not found"
          }
        }
      }
    },
    "/api/calendar/sources/{id}": {
      "patch": {
        "summary": "Update a Google calendar source selection, default mode, lead time, or Alarm Type",
        "responses": {
          "200": {
            "description": "Calendar source updated"
          },
          "404": {
            "description": "Calendar source not found"
          }
        }
      },
      "post": {
        "summary": "Update a Google calendar source for clients where PATCH is awkward",
        "responses": {
          "200": {
            "description": "Calendar source updated"
          },
          "404": {
            "description": "Calendar source not found"
          }
        }
      }
    },
    "/api/calendar/events/{id}": {
      "patch": {
        "summary": "Set or clear a per-event alarm/notify/mute override",
        "responses": {
          "200": {
            "description": "Calendar event override updated"
          },
          "404": {
            "description": "Calendar event not found"
          }
        }
      },
      "post": {
        "summary": "Set or clear a per-event override for clients where PATCH is awkward",
        "responses": {
          "200": {
            "description": "Calendar event override updated"
          },
          "404": {
            "description": "Calendar event not found"
          }
        }
      }
    },
    "/api/api-keys": {
      "get": {
        "summary": "List API keys",
        "responses": {
          "200": {
            "description": "API key list without plaintext secrets"
          }
        }
      },
      "post": {
        "summary": "Create API key",
        "responses": {
          "201": {
            "description": "API key created with plaintext returned once"
          }
        }
      }
    },
    "/api/api-keys/{id}/rotate": {
      "post": {
        "summary": "Rotate an API key",
        "responses": {
          "201": {
            "description": "Replacement key created"
          }
        }
      }
    },
    "/api/api-keys/{id}/revoke": {
      "post": {
        "summary": "Revoke an API key",
        "responses": {
          "200": {
            "description": "API key revoked"
          }
        }
      }
    },
    "/api/delivery": {
      "get": {
        "summary": "Read account delivery mode and registered devices",
        "responses": {
          "200": {
            "description": "Delivery settings and device list"
          }
        }
      },
      "post": {
        "summary": "Update account delivery mode",
        "responses": {
          "200": {
            "description": "Delivery settings updated"
          },
          "400": {
            "description": "Invalid delivery settings"
          }
        }
      }
    },
    "/api/devices": {
      "get": {
        "summary": "List registered devices and current delivery settings",
        "responses": {
          "200": {
            "description": "Device list and delivery settings"
          }
        }
      }
    },
    "/api/devices/register": {
      "post": {
        "summary": "Register device",
        "responses": {
          "200": {
            "description": "Device registered"
          }
        }
      }
    },
    "/api/devices/{deviceId}": {
      "patch": {
        "summary": "Update device metadata, priority, or alarm-delivery state",
        "responses": {
          "200": {
            "description": "Device updated"
          },
          "404": {
            "description": "Device not found"
          }
        }
      },
      "post": {
        "summary": "Update device metadata for clients where PATCH is awkward",
        "responses": {
          "200": {
            "description": "Device updated"
          },
          "404": {
            "description": "Device not found"
          }
        }
      },
      "delete": {
        "summary": "Logically remove device",
        "responses": {
          "200": {
            "description": "Device removed"
          },
          "404": {
            "description": "Device not found"
          }
        }
      }
    },
    "/api/devices/{deviceId}/remove": {
      "post": {
        "summary": "Logically remove device",
        "responses": {
          "200": {
            "description": "Device removed"
          },
          "404": {
            "description": "Device not found"
          }
        }
      }
    },
    "/api/devices/{deviceId}/ringing": {
      "post": {
        "summary": "Report or clear the alarm currently ringing on a device",
        "responses": {
          "200": {
            "description": "Device ringing state updated"
          },
          "404": {
            "description": "Device not found"
          }
        }
      }
    },
    "/api/devices/{deviceId}/alarm-types/{typeId}": {
      "post": {
        "summary": "Pause or resume one alarm type on one device",
        "responses": {
          "200": {
            "description": "Device alarm-type state updated"
          },
          "404": {
            "description": "Device not found"
          }
        }
      }
    },
    "/api/devices/{deviceId}/alarms/{alarmId}/dismiss": {
      "post": {
        "summary": "Dismiss one alarm on one specific device only",
        "responses": {
          "200": {
            "description": "Target device receives a stop command"
          },
          "404": {
            "description": "Device or alarm not found"
          }
        }
      }
    },
    "/api/devices/{deviceId}/skipped-during-pause/ack": {
      "post": {
        "summary": "Mark skipped-during-pause alarms seen for a device",
        "responses": {
          "200": {
            "description": "Skipped alarms acknowledged and moved to history"
          },
          "404": {
            "description": "Device not found"
          }
        }
      }
    },
    "/api/devices/{deviceId}/events": {
      "get": {
        "summary": "Long-poll device events",
        "responses": {
          "200": {
            "description": "Pending alarm events"
          }
        }
      }
    }
  }
}
